  #video-wrapper {
  position: relative;
  width: 500px;      /* Ajusta el ancho a tu gusto */
  height: 300px;     /* 16:9 para 220px de ancho */
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 0; /* Elimina el truco de altura */
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  overflow: hidden;
}


#video-wrapper iframe.responsive-iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Estado fijo al hacer scroll */
#video-wrapper.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;   /* Puedes ajustar según preferencia */
  height: 170px;  /* Mantener proporción */
  padding-bottom: 0; /* Quitar padding para estado fijo */
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: visible;
}

#video-wrapper.fixed iframe.responsive-iframe {
  position: static;
  width: 100%;
  height: 100%;
}

.responsive-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block; /* para evitar espacio abajo en iframe */
}

#close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(138, 119, 119, 0.8);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 2px 6px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1100;
  display: none; /* Oculto por defecto */
}

#video-wrapper.fixed #close-button {
  display: block; /* Mostrar solo cuando está fijo */
}